## Analysis SCAM

In [1]:
import json 
import time
import pymongo
import pandas as pd

In [2]:
client = pymongo.MongoClient("mongodb+srv://pedrohserrano:1234Scam@clusterscam-8nfw1.mongodb.net/<dbname>?retryWrites=true&w=majority")
db = client.TwitterData
col = db.ScamTweets

In [3]:
terms = ['deceived','not received','refund','fraud','defrauded','scam','falsely claimed','disguised','call pretending',
'pretending government','social security number','scammer said','scammer','scammers','scamming','phishing','full refund','cancellation',
'call back','told me','contacted me','asked me','identity theft','theft','calls pretending','pretending','used identity']

In [4]:
data = []
for term in terms:
    #query = { "full_text": { "$regex": '/.*'+term+'.*/', "$options" :'i'} } #,  
    query = { "full_text": { "$regex": term, "$options" :'i'} }
    count = col.count_documents(query)
    result = col.find(query)
    print("{} results: {}".format(term, count))
    for doc in result:
        if count > 0:
            data.append(doc)
        else:
            continue

deceived results: 3
not received results: 2
refund results: 20
fraud results: 76
defrauded results: 0
scam results: 88
falsely claimed results: 3
disguised results: 2
call pretending results: 0
pretending government results: 0
social security number results: 1
scammer said results: 0
scammer results: 27
scammers results: 22
scamming results: 0
phishing results: 19
full refund results: 2
cancellation results: 22
call back results: 0
told me results: 32
contacted me results: 0
asked me results: 15
identity theft results: 0
theft results: 4
calls pretending results: 0
pretending results: 17
used identity results: 0

In [5]:
len(data)

355

In [6]:
table_dict = {}
for i in range(len(data)):
    table_dict.update({
        data[i]['id']:[
        data[i]['created_at'],
        data[i]['full_text'],
        data[i]['lang'],
        data[i]['retweeted'],
        data[i]['favorited'],
        data[i]['favorite_count'],
        data[i]['retweet_count']
    ]})

In [7]:
df_tweets = pd.DataFrame(table_dict).T
df_tweets.columns = \
    ['created_at','full_text','lang','retweeted','favorited','favorite_count','retweet_count']

In [8]:
df_tweets.head(10)

,created_at,full_text,lang,retweeted,favorited,favorite_count,retweet_count
1225608603614224384,Fri Feb 07 02:33:56 +0000 2020,@CNN no and this is wrong too but at least joh...,en,False,False,0,0
1249126512483328002,Sun Apr 12 00:05:42 +0000 2020,@Acyn @CitizenWonk So Lumpy admitted that he k...,en,False,False,4,0
1249145235902541824,Sun Apr 12 01:20:06 +0000 2020,@JohnCornyn Sure. \nIs it relevant to consider...,en,False,False,0,0
1225534652154290197,Thu Feb 06 21:40:05 +0000 2020,"understandably, the CDC and its staff are busy...",en,False,False,3,3
1225588030360236032,Fri Feb 07 01:12:11 +0000 2020,@yardley_wong Just heard about another 41 peop...,en,False,False,1,0
1225513995898998784,Thu Feb 06 20:18:00 +0000 2020,#Coronavirus: Why I’m Canceling My RTW Trip an...,en,False,False,9,0
1225547827000029186,Thu Feb 06 22:32:26 +0000 2020,Supposed to take a father son trip to Vietnam ...,en,False,False,0,0
1225557367053602817,Thu Feb 06 23:10:20 +0000 2020,I Canceled My Round-the-World Trip Because of ...,en,False,False,4,2
1225604148223078400,Fri Feb 07 02:16:14 +0000 2020,"Currently experiencing heartless, cruel, &amp;...",en,False,False,2,1
1225629979909578753,Fri Feb 07 03:58:52 +0000 2020,@AirbnbHelp Here’s hoping you will do the righ...,en,False,False,0,1

In [12]:
df_tweets.drop_duplicates(subset='full_text', inplace=True)

In [14]:
df_tweets.to_excel('scam_tweets.xls')